.container {
    height:auto;
    width : 1000px;
}


.main-content{
    background-color: aquamarine;
    border: 2px solid black;
    height: 460px;
    width: 300px;
    margin: 5px;
    padding-top: 2px;
    text-align: center;
    display: inline-block;
    float: left;

}

img {
    margin-top: 2px;
    height: 200px;
    width: 280px;
    align-content: center;
}

.beli {
    text-align: center;

}